/* Max's Dark Bulma Theme, version 0.1, MIT License */

// Disable rounding
$control-radius: 0
	
// Main background colors
$body-background-color: $black-bis
$footer-background-color: $black

// Text colors
$text: $grey-light
$text-strong: $grey-lighter

// Links
$link: $orange
$link-hover: darken($orange, 15%)
$link-clicked: $orange

// Code blocks
$code: lighten($grey-light, 10%)
$code-background: #080b25

// Blockquotes
$color-blockquote-left-bar: #b81111
$content-blockquote-background-color: $black
$content-blockquote-border-left: 5px solid $color-blockquote-left-bar

// Buttons
$button-background-color: darken($orange, 10%)
$button-border-color: darken($orange, 20%)
$button-hover-color: $white
$button-hover-border-color: $button-border-color
$button-focus-color: $white
$button-focus-border-color: darken($orange, 20%)
$button-text-color: $white
$button-active-color: $text-strong

// Other element colors
$hr-background-color: $black-ter
